.featued-item{
    background-image: url('../../../assets/category/pexels-tima-miroshnichenko-5452221.jpg');
    background-size: cover;       
    background-repeat: no-repeat; 
    background-position: center;
}